# Dependencies
node_modules

# Build
dist
dist-ssr

# Env
.env
.env.local
.env.*

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Public (local assets)
public

# Lock files
package-lock.json